<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>4Sale: View Listing</title>
    <style>
        #map {
            height: 400px;
            width: 40% auto;
            margin: 20px;
            padding: 20px;
        }

        img {
            height: 300px;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="/dashboard" class="btn btn-primary btn-sm">Home</a>
            <br>
            <h1 class="display-4">{{item.title}}</h1>

        </div>
    </div>
    <div class="container container-fluid">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="{{MEDIA_URL}}{{item.img}}" alt="Card image cap">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Description: {{item.desc}}</li>
                    <li class="list-group-item">Condition: {{item.condition}}</li>
                    <li class="list-group-item">Price: ${{item.price}}</li>
                    <li class="list-group-item">Posted by: <a href="/user/{{item.posted_by.id}}">{{item.posted_by.first}}#{{item.posted_by.id}}</a></li>
                    <li class="list-group-item">Posted on: {{item.created_at}}</li>
                    <li class="list-group-item">Location: {{item.location}}</li>
                  </ul>
            </div>
          </div>
        <!-- <img src="{{MEDIA_URL}}{{item.img}}" alt="">
        <ul class="list-group">
            <li class="list-group-item">Description: {{item.desc}}</li>
            <li class="list-group-item">Condition: {{item.condition}}</li>
            <li class="list-group-item">Price: ${{item.price}}</li>
            <li class="list-group-item">Posted by: <a href="/user/{{item.posted_by.id}}">{{item.posted_by.first}}#{{item.posted_by.id}}</a></li>
            <li class="list-group-item">Posted on: {{item.created_at}}</li>
          </ul> -->
        <p class="lead"><a href="/view/{{item.id}}/watch">Watch item</a></p>
        <!-- <p class="lead">Description: {{item.desc}}</p>
        <p class="lead">Condition: {{item.condition}}</p>
        <p class="lead">Price: ${{item.price}}</p>
        <p class="lead">Posted by: <a href="/user/{{item.posted_by.id}}">{{item.posted_by.first}}#{{item.posted_by.id}}</a></p>
        <p class="lead">Posted on: {{item.created_at}}</p> -->
        <!-- <p class="lead">Location: {{item.location}}</p> -->
        <div class="container">
            <div class="col-md">

                {% for comment in item.comments.all %}
                {{comment.user.first}} {{comment.user.id}} 
                {{comment.comment}} {{comment.created_at}}</br>
                {% endfor %}
            </div>
            <div class="col-md">

                <form action="/comment/{{item.id}}" method="POST">
                    {% csrf_token %}
                    <label for="comment">Leave a comment</label>
                    <input type="hidden" name="comment_id" value={{item.id}}>
                    <input type="text" name="comment" id="num">
                    <input type="submit" value="Post">
                </form>
            </div>
            <div id="map"></div>
            
        </div>
        <div class="container">
            {% if logged_in_user.id == item.posted_by.id %}
            <h2>Update Listing</h2>
            <form enctype="multipart/form-data" method="POST" action="/view/{{item.id}}/update">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
                <a href="/view/{{item.id}}/delete" class="btn btn-sm btn-danger">Delete</a>
            </form>
            {% endif %}
        </div>
    </div>


    <!-- Optional JavaScript -->
    <script>

        function initMap() {

            var seattle = { lat: 47.6205, lng: -122.3493 };

            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: seattle });

            // var marker = new google.maps.Marker({ position: seattle, map: map });
        }
    </script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3hTzNLbe80o_OoRtdj9omg9fS8Jgg6ck&callback=initMap">
        </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>